body {
    font-family: sans, sans-serif;
    color: white;
    font-size: 1em;
    background-color: black;
}

p.error {
    font-weight: bold;
    color: red;
}

p.sysMessage {
    font-weight: bold;
    color: seagreen;
}

div.logout {
    float: right;
    background-color: cornflowerblue;
}
div.pagination-div-history {
    color: white;
    background: dimgrey;
    display: inline-block;
}