
body {
    font-family: sans, sans-serif;
    font-size: 1em;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}
div.pagination-div-history {
    color: black;
    background: cornsilk;
    outline-style: double;
    display: inline-block;
}