<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Admin page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:substituteby="index::logout"></div>
<div th:substituteby="index::notleggedin"></div>
<h4><a href="/converter">Конвертер валюты</a></h4>

<h3>Меню администратора.</h3>
<p th:if="${requestError}" class="error">Не правильный формат ID.</p>
<p th:if="${idNotFound}" class="error">Пользователя с таким ID не существует.</p>
<form th:action="@{/admin/get/}" method="get">
    Поиск пользователя по ID <label>
    <input th:name="userId" th:placeholder="ID"/>
                    </label> <br/>
    <input type="submit" value="Найти">
</form>
    <div th:if="${user != null && user.id != null}">
        <p>Id: <a th:text="${user.id}"></a></p>
        <p>Username: <a th:text="${user.username}"></a></p>
        <p>Roles: <a th:text="${user.getAuthorities()}"></a></p>

        <div th:switch="${userHistory.content.isEmpty()}">
            <table th:case="${false}">
             <tr>
                    <th>Дата запроса</th>
                    <th>Первоначальная валюта</th>
                    <th>Первоначальное сумма</th>
                    <th>Итогавая валюта</th>
                     <th>Итогавая сумма</th>
                </tr>
                <tr th:each="history : ${userHistory.content}">
                    <td th:text="${history.queryDate}"></td>
                    <td th:text="${history.initialCurrency}"></td>
                    <td th:text="${history.initialSum}"></td>
                    <td th:text="${history.goalCurrency}"></td>
                    <td th:text="${history.goalSum}"></td>
                </tr>
            </table>
            <b th:case="${true}">Пользователь еще не использовал конвертер валют.</b>
        </div>
        <div th:if="${!userHistory.content.isEmpty()}" class="pagination-div-history">
    <span th:if="${userHistory.hasPrevious()}">
        <a th:href="@{/admin/get/(userId=${userId}, userHistory_page=${userHistory.number-1},
                                                                userHistory_size=${userHistory.size})}">Previous</a>
    </span>
            <th:block th:each="i: ${#numbers.sequence(0, userHistory.totalPages - 1)}">
                <span th:if="${userHistory.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${userHistory.number == i}">
             <a th:href="@{/admin/get/(userId=${userId}, userHistory_page=${i},
                                                                userHistory_size=${userHistory.size})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${userHistory.hasNext()}">
        <a th:href="@{/admin/get/(userId=${userId}, userHistory_page=${userHistory.number+1},
                                                                userHistory_size=${userHistory.size})}">Next</a>
    </span>
        </div>
    </div>
<br>
<h3>Список всех пользователей</h3>
<table>
    <tr><th>ID</th>
        <th>Username</th>
        <th>№ запросов</th>
    </tr>
    <tr th:each="user : ${allUsersPage.content}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.getConverterHistories().size()}"></td>
    </tr>
</table>
<div class="pagination-div">
    <span th:if="${allUsersPage.hasPrevious()}">
        <a th:href="@{/admin/(allUsersPage_page=${allUsersPage.number-1},allUsersPage_size=${allUsersPage.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, allUsersPage.totalPages - 1)}">
        <span th:if="${allUsersPage.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${allUsersPage.number == i}">
             <a th:href="@{/admin/(allUsersPage_page=${i},allUsersPage_size=${allUsersPage.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${allUsersPage.hasNext()}">
        <a th:href="@{/admin/(allUsersPage_page=${allUsersPage.number+1},allUsersPage_size=${allUsersPage.size})}">Next</a>
    </span>
</div>
</body>
</html>