<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <title>Converter index page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <form action="#" th:action="@{/admin}" method="get">
            <input type="submit" value="Admin menu">
        </form>
    </div>
</div>
<div th:fragment="notleggedin" class="notLoggedIn" sec:authorize="!isAuthenticated()">
    <div>
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироватся</a></h4>
    </div>
</div>
<h4><a href="#" th:href="@{/converter}" sec:authorize="isAuthenticated()">Конвертер валют</a></h4>
</body>
</html>